# Ignore intermediate build files.
*.o.d
*.o
*.lo
*.a
*.la
*.lai
*.lib

#don't ignore example libs
!examples/lib/*
!examples/bin/win32-gcc/*.dll

# Ignore crap codeblocks files
*.depend~
*.layout~

# Ignore doxygen output (which can be quite sizeable).
doxygen/*
*.html
*.tex
*.eps
# (But don't ignore .xml, because that is used by netbeans projects)

