# Ignore generated dll files
*.dll
*.so
*.so.*
*.so.*.*
*.so.*.*.*

# Ignore generated program binaries. 
*.exe

# Ignore text editor backup copies
*~

# Ignore intermediate build files.
*.o.d
*.o
*.lo
*.a
*.la
*.lai
*.lib

#don't ignore example libs
!examples/lib/*
!examples/bin/win32-gcc/*.dll

autom4te.cache/*
*.cpp~
*.hpp~
*.Po
*.Plo
*.Tpo
.deps/*
*/.deps/*

# Ignore doxygen output (which can be quite sizeable).
doxygen/*
*.html
*.tex
*.eps
# (But don't ignore .xml, because that is used by netbeans projects)

