html {
    height: 100%;
}
body{
	padding-top: 50px;
	color: #222;
	background-color: #444;
	font-family: Arial, Helvetica, sans-serif;
}

hr{	
	border: none;
	border-top: 5px solid rgba(0,0,0,.03);	
	
}

.section h2{
	font-size: 2.5em;	
	line-height: 1.5em;		
	font-weight: normal;
	margin-top: 10px;
}

.section div {
	display: inline-block;
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.03); 	
	text-decoration: none;
	border-radius: 5px;
}

.section a{
	display: block;
	font-size: 1em;
	line-height: 1.5em;	
	text-decoration: none;
}

#content{	
	background-image: url("../images/texture.png");
	background-repeat: repeat-x;
	min-height: 450px;			
	/*-moz-box-shadow: 3px 3px 4px rgba(0,0,0,1);
	-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,1);*/
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	border-radius: 10px;
	padding: 10px 25px 25px 25px;
}

#project-title, #project-title span{
	text-align: center;
	font-family: georgia,garamond,serif;
	font-size: 72px;	
	font-weight: bold;
	color:#808080;
	text-shadow:0px 2px 1px rgba(255,255,255,0.7),0 -2px 1px rgba(0,0,0,0.7);
	font-smooth:always;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 1px transparent;
}

#project-title span.title-de{
	color: #a6c5d0;
}
#project-title span.title-other{
	color: #74868C;
}
